
<h2 id="introducción">Introducción</h2>

<p>Bienvenidos a este entrenamiento, mi nombre es Nestor Plasencia, en este primer artículo ¿Qué es y por qué usar Arduino? y todo lo que necesitaremos en el curso</p>

<h2 id="qué-es-arduino">¿Qué es Arduino?</h2>

<p>Arduino es una plataforma de electrónica abierta para la creación de prototipos basada en software y hardware libre, flexibles y fáciles de usar.  <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/guJ-cqTwp8koYurGP_b_Ml_fKTZyzAxxTO1kWiI151Q0ewDHxXVyEJfSSnL2iI-LzIsLI785vqfiIIqieofaTNCfeK2LmeaIP1FOjK1LBWLMZNW0rRUXVBOj7XN_FY9bNtmPHNbcBvOj66eovg">
</p>

<p><br>
Cuando hablamos de Open Hardware, nos referimos a que todo lo necesario para que puedas fabricar tu propia versión de Arduino se encuentra disponible, desde los planos esquemáticos del circuito, hasta el pograma de Bootloader, necesario para que un microcontrolador pueda ser programado. <br>
<br></p>

<p align="center">
  <img src="https://lh4.googleusercontent.com/NYJLPM-sAOg3uWv3AfmFanS8LClqGQbNuq3GTN269NsfJtF75DcQ0kI7gF0m-cphhO7d_-FF2DIoJuzwwuWoi27hgCWKFjeLahJ37Q1KhrLFqZGTaD6_fBGqrq3mU1YDQZBsxQNY">
</p>

<p><br></p>

<p>Si hablamos de Open Software, Arduino posee un IDE para programar la tarjeta física, en un lenguaje de programación de alto nivel cercano a lenguaje humano, este IDE transforma el código de Arduino en un código Hexadecimal, entendible por los microcontroladores. <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/i-LisJKcki--EU8WjIEr7feliZROgXafNmmWKThfkHdB_RQOy71Btp-sv02Wq-VvMZBqFwKQoamchl-RrrEuHFMVcRpOzgoUE3SsKJ6K72g7ib2Taz7xK2EbUg7Pvbt6Ray8uvyL">
</p>

<h2 id="por-qué-usar-arduino">¿Por qué usar Arduino?</h2>



<h3 id="open-source">Open source</h3>

<p>Como ya mencionamos Arduino es una plataforma abierta tanto en su software como en el diseño de hardware, para que los usuarios tengan acceso y hacer un uso personalizado, adaptándolo a la necesidad de su aplicación. <br>
<br></p>

<p align="center">
  <img src="https://lh3.googleusercontent.com/rOKxo1dNh8ybFxdYJS0lXwYNFgeMzFlv1FKz48_Ls2M92gremmGWYO1qbyCTTPig3uZ5rv8A8_xcTKPkonARpnsCELkBRwdZnZoxmaZhEQ84a5ysBWYHmLCJAT42BDhv4sk47vEy">
</p>

<h3 id="versatilidad">Versatilidad</h3>

<p>Gracias a su sencilla y accesible experiencia de usuario, Arduino se ha utilizado en miles de proyectos y aplicaciones. El software es fácil de usar para los principiantes, pero lo suficientemente flexible para los usuarios avanzados.  <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/jSKtkrHwfmahz6BvRL7Y9LYzhQ4TnDZsoQEp57IKHtImCh7aESUEwPcG1AvNpVqm7AL2W1521oGkxP6xFhN1Crz0VdIRhDiF3y6bSkWNm3D8V4dG2JFTSS03bwUneqt7nSLTNbxd">
</p>

<h3 id="variedad-de-modelos">Variedad de modelos</h3>

<p>Existen distintos modelos de Arduino, con diferencias en características y en tamaño, de esta manera podrás utilizar el mismo programa en los diferentes modelos. <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/IYEkWi-MmtG-dEWFCoxFUguXzvKsBu_BxyHvR9MKQxE6FAtvraJheA-4EdvUEi8MPwmfabg7pH9nr9wpWJI9MsqUZaidenjzHBapnPv2jh3XgiwjCHvZ_q3GKLLINaktxpJOMcQu">
</p>

<p>El modelo para un nivel básico, es el que usaremos, conocido como Arduino UNO, si tu aplicación necesita muchos mas pines de salida y entrada, tenemos a Arduino Mega, y si lo que necesitas es un procesador con mejores prestaciones tenemos el Arduino Due con una arquitectura de 32 bits. Si tu proyecto ya ha pasado la fase de prototipo y necesitas una tarjeta pequeña, pues existen versiones como el Arduino pro-mini y Arduino nano.</p>

<h3 id="librerías-y-shields">Librerías y Shields</h3>

<p>Un shield es una tarjeta adicional que incorpora circuitos para funcionalidades especiales, por ejemplo un controlador para motores, realizar una conexión internet, almacenar información, etc. <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/Xa6h0Wxe9Xp4pRRdua_Gbj0mrNLRncZLyy4qwUGoXpvhkgpXQ0a61AvhApKajmMST4LmuhqseYfGhikebZIui1p08QkzP2XYWsKu_IVtamemOfzSExR0Ynh9c7pjwzp6nYiBFzAN">
</p>

<p>Las librerías son secciones de código, con funciones simples de usar, que facilitan el uso de cualquier componente que se conecte con la tarjeta, tales como Servomotores, Ethernet, GPS, etc. <br>
<br></p>

<p align="center">
  <img src="https://lh6.googleusercontent.com/zblm30jF6zqvapytIPBRG3NJV4ocUQiQTYvhjwt41JrofroPhkgxznkYvYw8ljG8prDrav515tqZeGsiU1A5KsYc_a2wfXs8jDW_oMT6AkbJh-zmeqfRCxLBQDjFCYUjk_voDEwJ">
</p>

<h3 id="documentación-y-tutoriales">Documentación y tutoriales</h3>

<p>Internet está lleno de documentación sobre Arduino, no hay excusa para no para aprender, puedes encontrar cursos, tutoriales, hacks, etc. <br>
<br></p>

<p align="center">
  <img src="https://lh3.googleusercontent.com/zCdo-Yg8d9UCr5yso7TrW3DLlguC40R3HQ1zxA7CyD29GiWZm6lMjfMINTvI7T9tbrmrf6KE4OtDlEtfBhIUBwRfeYyJpccfs8i25FofHJfUuInDJ6XliQY-iJkMLljrqOkBWcMk">
</p>

<h2 id="qué-se-puede-hacer-con-arduino">¿Qué se puede hacer con Arduino?</h2>

<p>Con Arduino podemos desde </p>

<ul>
<li>Encender Leds, </li>
</ul>

<p align="center">
  <img height="380" src="https://lh6.googleusercontent.com/Wjzf2L5KvP2c2BMDv7bNrjVmRbfFWgI98ey5B6bpO-_qXjsmQb_2ogEGH1rPrxdhrCyFUZSmrkD6FV3eijqfT5KwrAkiXc_2SU2331dWXyt66RgsIh-cKtUqV4s3csO7CJkEaQnLTojbL8oS_A">
</p>

<ul>
<li>Mover Motores</li>
</ul>

<p align="center">
  <img height="380" src="https://lh6.googleusercontent.com/1dAEvFu8dVxnUj3EmMGnp6-4JLHOictq0BzULZaRkjP3t2CHLcEI2FIcVLDyskcGqeOWxwTDxbU7DyrFChATpyxim4Rbmz27Zrr26QvfF9JSA_bwRP1NHsXW-OEVtqa76M-EFXwiwhXK-XpcTQ">
</p>

<ul>
<li>Mostrar informacion en Displays</li>
</ul>

<p align="center">
  <img height="380" src="https://lh4.googleusercontent.com/KVjJP5WydKdDnYhmc0cELV7j-kWxDAzDZIuL-kotMphRz2ai3AR0g81Ae5C0uHypqlI04MX9_CSdkdhOpkhhLflm8NUOzIIRS38L9GkJbI5-OpwsVuiYi4gmccBq7Pqgv93Rm6FWGSnvEqT-zQ">
</p>

<ul>
<li>Controlar todo tipo de robots</li>
</ul>

<p align="center">
  <img src="https://lh3.googleusercontent.com/kWsUvoiU2gN5DhURHmE0pLHZ5sFlRjz5rtZ224tZxZ6Nxzbe2-RHf7rp6c1wVUjEDfjQI5rG-nMbxW7ZJpRra399qUI-u_0w1_35qFaGYce67tlP5SyhbDae0AVteSHlc7_Y1QvZ">
</p>

<ul>
<li>Volar Drones</li>
</ul>

<p align="center">
  <img src="https://lh3.googleusercontent.com/TpRbh0MF6WX-94rXKYyrnGXMg0Y1IaKT4tzYWyqnIGVYRZGdgijF3IdBK-OmdWzQo6Ucm_qBNm3AjR0zQbxsfwSX7FoeM0PiUgylnlPmFXexSkw4qxR03Y51nVe_w1nosYcG-YOG">
</p>

<ul>
<li>Publicar un tweet en internet</li>
</ul>

<p align="center">
  <img src="https://lh6.googleusercontent.com/l-0xnU4j2gmxSxr4q1HujUCla12KW4HIpfRUg0t6OMlyizI1WzvA-LUvoZPkwjwOVc4umijdpUUKU7IdxqCY0GeQp2ZUPJ_LC8pzDRrxGOm-kyB5gPXi99laT2y7gEv8j7_qjD5yXhneQhmhrA">
</p>

<ul>
<li>Controlar una impresora 3D</li>
</ul>

<p align="center">
  <img src="https://lh6.googleusercontent.com/jElDKQtgVEmv9KMX8YKuwuyQOblz-mKWUeafKvPQAf9v_5GpEvIfbX2vm1ObpWIIADWRPMyoVISZbF5WF0uaixCmq9yGJmyqh1A8l2rDVAODPr9_Eazir-Uil_xrYfFmU9GTnopn">
</p>

<p>Los usos para esta pequeña tarjeta aumentan por miles cada dia. En la página oficial de Arduino podrás encontrar muchos proyectos realizados por la comunidad de Arduino.</p>

<p align="center">
  <img src="https://lh5.googleusercontent.com/N8G1xqTIdXouELzj_aS0VAnmkmR0YIk5ctBKgDATfVkRFO6g_A-VsG2ZKlBwYxW8k44zxrZwr9CsLuRT6QcfdLKqVdaV4wWxofOmZ84CkBgZGUCMFm56B7FhAShOcCHsisRLUNbd">
</p>
