<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Mixture Tec</title>

		<link rel="stylesheet" href="/css/bootstrap-reboot.css" />
		<link rel="stylesheet" href="/css/bootstrap_escentials.css" /> 	
     	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    	<!-- <link rel="stylesheet" href="/css/tutorial.css"/> -->
   		<link href="/css/clean-blog.css" rel="stylesheet">
	
	</head>

	<body>		
		<div class="notutorial">


			<!-- Navigation -->
			<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  				<a class="navbar-brand text-white" href="#Header" >
	    			<img src="/img/logo_dark.png" width="40" height="30" class="d-inline-block align-top" alt="">
	    			<b>MixtureTec</b>
	  			</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>
  				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    				<div class="navbar-nav">
					    <a class="nav-item nav-link" href="#Tecnologias">Tecnologias</a>
					    <a class="nav-item nav-link" href="#Tutoriales">Tutoriales</a>
					    <a class="nav-item nav-link" href="#Proyectos">Proyectos</a>
    				</div>
  				</div>
			</nav>

			<!-- Page Header -->
			<header class=" header_main d-flex  flex-column justify-content-center align-items-center" id="Header">			
				
				<img class="header_main_logo" src="/
				img/logo_dark.png">
				
				<h1 class="header_main_title">Mixture Tec</h1>
				
				<span class="header_main_subtitle">Tutoriales para la creacion de proyectos, donde existe una sinergia de multiples tecnologias.</span>

			</header>


			<!-- Tecnologias -->
			<section class="container py-5" id="Tecnologias">
				<h1 class="mt-4">Tecnologias</h1>
				<div class="row mt-2 d-flex flex-column justify-content-start align-items-center">

					<div class="card-deck mt-2">
						<div class="card d-flex flex-column justify-content-start align-items-center">
							<img class="card-img-top" src="/img/hardware.png" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title">Hardware</h4>
								<p class="card-text">Con los fundamentos de electronica construye y programa desde sistemas embebidos hasta robots.</p>
							</div>
						</div>
						<div class="card d-flex flex-column justify-content-start
						align-items-center">
							<img class="card-img-top" src="/img/web.png" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title">Web</h4>
								<p class="card-text">Desarrolla en la web, desde los servidores, base de datos y aplicaciones de consumo para interactuar y configurar con tus proyectos.</p>
							</div>
						</div>
					</div>

					<div class="card-deck mt-2">
						<div class="card d-flex flex-column justify-content-start align-items-center">
							<img class="card-img-top" src="/img/mobile.png" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title">Mobile</h4>
								<p class="card-text">La interaccion necesaria del proyecto al alcance de tu mano, con la creacion de aplicaciones mobiles.</p>
							</div>
						</div>
						<div class="card d-flex flex-column justify-content-start align-items-center">
							<img class="card-img-top" src="/img/algoritmos.png" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title">Algoritmos</h4>
								<p class="card-text">Aprende los fundamentos de la programacion, asi entenderas la logica de cada codigo logrando adaptarlo a tus propias necesidades.</p>
							</div>
						</div>

						
						<div class="card d-flex flex-column justify-content-start align-items-center">
							<img class="card-img-top" src="/img/seguridad.png" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title">Seguridad</h4>
								<p class="card-text">Encripta y manten segura tu informacion, para evitar intrusos, aprende desde como usar linux hasta configurar servidores con ssh.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Proyectos -->
			<section class="contenedor py-4 px-5" id="Tutoriales">
				<h1 class="mt-5">Tutoriales</h1>
				<div class="row pt-2 d-flex justify-content-center align-items-start">			
					
				<div class="card" style="width: 20rem;">
				  	<img class="card-img-top" src="/img/que_es_arduino.png" alt="Card image cap">
				  	<div class="card-body">
				    	<h4 class="card-title">¿Qué es Arduino?</h4>
				    	<p class="card-text">Conoce qué es y como se utiliza arduino.</p>
				    	<a href="/tutorial/arduino" class="btn btn-primary">Ir al tutorial</a>
				  	</div>
				</div>

				<div class="card" style="width: 20rem;">
				  	<img class="card-img-top" src="/img/mi_primer_servidor_web.png" alt="Card image cap">
				  	<div class="card-body">
				    	<h4 class="card-title">Mi primer Servidor Web</h4>
				    	<p class="card-text">Crea tu primer servidor web con NodeJS</p>
				    	<a href="/tutorial/servidor" class="btn btn-primary">Ir al tutorial</a>
				  	</div>
				</div>


				</div>
			</section>
			<!-- Proyectos -->
			<section class="container py-5 d-flex flex-column align-items-center" id="Proyectos">
				<h1 class="mt-4">Proyectos </h1>
				<div class="row pt-2 d-flex flex-column align-items-center">			
					

				<div class="card mb-3" >
				  <img class="card-img-top" src="/img/delsensoralanube.png" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Del sensor a la nube</h4>
				    <p class="card-text">Crea un proyecto para almacenar la informacion capturada por un sensor en la nube.</p>
				    <a href="#" class="btn btn-primary">Ir al proyecto</a>
				  </div>
				</div>

				<div class="card mb-3" >
				  <img class="card-img-top" src="/img/delsensoralanube.png" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Del sensor a la nube</h4>
				    <p class="card-text">Crea un proyecto para almacenar la informacion capturada por un sensor en la nube.</p>
				    <a href="#" class="btn btn-primary">Ir al proyecto</a>
				  </div>
				</div>


				</div>
			</section>
			<!-- Footer -->
			<footer class="pt-5">
				<div class="container">
					<div class="row d-flex flex-column align-items-center justify-content-center">
						<div class="my-4">
							<ul class="networks d-flex justify-content-center">
								<li class="list-inline-item">
									<a href="https://twitter.com/mixture_tec" target="_blank">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.facebook.com/MixtureTec-762539413932563/" target="_blank">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.youtube.com/channel/UCwxiSDl4YfILcqR01IM7P_Q" target="_blank">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://github.com/MixtureTec" target="_blank">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-github fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
							</ul>
							<p class="copyright text-muted">Copyright &copy; MixtureTec 2017</p>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Bootstrap core JavaScript -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('a[href^="#"]').on('click',function (e) {
				    e.preventDefault();

				    var target = this.hash;
				    var $target = $(target);

				    $('html, body').stop().animate({
				        'scrollTop': $target.offset().top
				    }, 900, 'swing', function () {
				        window.location.hash = target;
				    });
				});

				$('.nav-item').on('click',function (e) {
					$('.nav-item').removeClass("active");
					$(this).addClass("active");
				});
				$('.navbar-brand').on('click',function (e) {
					$('.nav-item').removeClass("active");
				});


				
			});
		</script>
	</body>

</html>
