<h2 id="por-qué-usar-arduino">¿Por qué usar Arduino?</h2>

<p>Arduino ofrece muchas ventajas, a continuación vamos a presentar alguna de ellas.</p>

<h3 id="open-source">Open source</h3>

<p>Como ya mencionamos Arduino es una plataforma abierta tanto en su software como en el diseño de hardware, para que los usuarios tengan acceso y hacer un uso personalizado, adaptándolo a la necesidad de su aplicación.</p>

<br>

<p align="center">
<img src="https://lh4.googleusercontent.com/Sh90-HkWO6qH6OWj5um45OJMim2byB6GC9LCHqUtZkhAosYj-u5l0DV_QX4LKu-mo8dQit3F6BlQvXoYmCClBcEjUxDajgkUjF6sgw8RMkA6AlBonQahbBgHII-p6hpIRviXv0as" width="400">
</p>

<br>

<h3 id="versatilidad">Versatilidad</h3>

<p>Gracias a su sencilla y accesible experiencia de usuario, Arduino se ha utilizado en miles de proyectos y aplicaciones. El software es fácil de usar para los principiantes, pero lo suficientemente flexible para los usuarios avanzados. </p>

<br>

<p align="center">
<img src="https://lh3.googleusercontent.com/_NgO_64ly8tefZPWoyvE4QCLFvp0ZrJxIZIhHqj4XJKc1_smeVo6Yto0HiFoIC531Yfl87Ns8bFK2eIQHyOiFVjrZT7OwuG2liyir6ORTwl0MeRuJy250qsAMHssj6L4vQ3qWJ7Y" width="700">
</p>

<p align="center">Diferencias entre programación entre principiantes  (izquierda) y avanzado (derecha) </p>

<br>

<h3 id="variedad-de-modelos">Variedad de modelos</h3>

<p>Existen distintos modelos de Arduino, con diferencias en características y en tamaño, de esta manera podrás utilizar el mismo programa en los diferentes modelos.</p>

<br>

<p align="center">
<img src="https://lh4.googleusercontent.com/qn-V3TpePx2gZAnCR5Bbgd-EMdoNeGiiIEvsWNIKMU-vVtvzJ8FUZuv_H-OKLtVAas8SfXxp09QyVWsRpXwz9hsgW_Zue8TJQIGL62OyxoeWATNQAhu3IWITT4ywfY2_BdmKyq3F" width="700">
</p>

<p align="center">Modelos de Tarjetas Arduino</p>

<br>

<p>El modelo para un nivel básico, es el que usaremos, conocido como Arduino UNO, si tu aplicación necesita muchos más pines de salida y entrada, tenemos a Arduino Mega, y si lo que necesitas es un procesador con mejores prestaciones tenemos el Arduino Due con una arquitectura de 32 bits. Si tu proyecto ya ha pasado la fase de prototipo y necesitas una tarjeta pequeña, pues existen versiones como el Arduino pro-mini y Arduino nano.</p>

<h3 id="librerías-y-shields">Librerías y Shields</h3>

<p>Un shield es una tarjeta adicional que incorpora circuitos para funcionalidades especiales, por ejemplo un controlador para motores, realizar una conexión internet, almacenar información, etc.</p>

<br>

<p align="center">
<img src="https://lh5.googleusercontent.com/qO_1zZlY0sHdxM-5cnlGw-5-vAgeHtGSCP2X2aPdtyywq3KHjqKwBaBzebhajGq0Gise0xFCBmVsCBE0enS6JCpkNslLQlp62q6mhfYMPY2_G2yCJSnKJsL2_XF7FdVujb2TtKtT" width="700">
</p>

<p align="center">Shields de Arduino</p>
<br>

Las librerías son secciones de código, con funciones simples de usar, que facilitan el uso de cualquier componente que se conecte con la tarjeta, tales como Servomotores, Ethernet, GPS, etc.

<br>
<br>
<p align="center">
<img src="https://lh6.googleusercontent.com/0fpvgyOmKcnOAa382fvAqV0RoVWF1H5tvjSiifUd4eKE72L_XSSKtarTs615rMM8N486tmaRy7XM4QiiCBEOzM0fMWevhBhdOXmyVBiTneqPYa9ui1g-Vq1FmfrEGd39bkKO_wxl" width="700">
</p>

<p align="center">Librerias  de Arduino</p>
<br>

<h3 id="documentación-y-tutoriales">Documentación y tutoriales</h3>

<p>Internet está lleno de documentación sobre Arduino, no hay excusa para no para aprender, puedes encontrar cursos, tutoriales, hacks, etc.</p>

<br>

<p align="center">
<img src="https://lh3.googleusercontent.com/Z3yR65EqBeIAdgvjaJRJI8pDcKULeXZw8t538pTipGuwHBTUuf1Pep_UsWdnOiDv0SKWF4T7leYZXL5zzrtXBHzNmHjtaB4q0SvOR5vNSWdERlve23aawjrw270StdjVe9pXvCo4" width="700">
</p>

<p align="center">Proyectos en la plataforma de Arduino</p>

<br>

<p>Existen muchas más razones por las cuales Arduino es la plataforma ideal para empezar a programar hardware.</p>