<h2 id="qué-es-arduino">¿Qué es Arduino?</h2>

<p>Arduino es una plataforma de electrónica abierta usada para la creación de prototipos tecnológicos, basada en software y hardware libre, flexibles y fáciles de usar.  <br>
<br></p>

<p align="center">
<img src="https://lh3.googleusercontent.com/aJwp1s2symNj8oPJWPsNDyE0adyZvt97CtO784PnHLdJxs9VLdt0gG8-B2M2y41-v8AoOKKk4n99iAQvrjjLk3fh4V4rOanp_VsSvQGWbIN9Rw6ZZuDkPeRtaCHU2klbmj7yerx-" width="300">
</p>

<p align="center">Arduino UNO</p>
<br>
Cuando hablamos de Open Hardware, nos referimos a que todo lo necesario para que puedas fabricar tu propia versión de Arduino se encuentra disponible, desde los planos esquemáticos del circuito, hasta el programa de Bootloader, necesario para que un micro controlador pueda ser programado.
<br>
<br>
<p align="center">
<img src="https://lh4.googleusercontent.com/5MZSo_RzMMuPpARO47iRueesIkZ3dBZip1CEXViP30SrE-3rVZOuvBSUms-TrIrW4DAQVC9iAEc3V2Unq655KLu-2NWNfOwOw_yp4OKukOb1npCtUgaDCp3s6EjUD6xlIgDY6U01" width="700">
</p>

<p align="center">Esquemáticos del circuito de Arduino</p>
<br>
Si hablamos de Open Software, Arduino posee un IDE para programar la tarjeta física, en un lenguaje de programación de alto nivel cercano a lenguaje humano, este IDE transforma el código de Arduino en un código Hexadecimal, entendible por los microcontroladores.
<br>
<br>
<p align="center">
<img src="https://lh5.googleusercontent.com/0v1mc4PxOgCxacaD8JPlH_uREPAgThEwyUnANUW8ETqyGgp0w9Sw41mPdI6WgfejMIy-KKPX0MsIjwaWm6adipwCtQTqPSTZF8Bxi5Gfrs0zZfxPdgSEYQ_aI01yrygCLMwc4Gew" width="700">
</p>

<p align="center">Código fuente de Arduino</p>
<p align="center">
<img src="https://lh6.googleusercontent.com/UxmfL8ASvQy0KhEF7iGNR2ao3vxqpLSgCysTjRfeJWP8fw8ROPCrRLHHWa6gVmCiW9c5vkkDB2WQspxGDKn3dGdWgVvSQ62lkPjOf1t7lIyWOXzFDUkYHCXGTOmCcSajot5SCEI1" width="700">
</p>

<p align="center">IDE de Arduino</p>

<p><br>
Arduino ofrece muchas ventajas para programar en hardware y crear aplicaciones que interactúen con el mundo físico.</p>