<h2 id="qué-se-puede-hacer-con-arduino">¿Qué se puede hacer con Arduino?</h2>

<p>Con Arduino podemos desde </p>



<h3 id="encender-leds">Encender Leds</h3>

<p align="center">
<img src="https://lh4.googleusercontent.com/6ZFa71NdgDQxq-XQmZik5IsBRemo3cI8e_QlcfNBY5_qGPJ3KuCBa7FgveZfbqlr3Dm4-zM_NIhwt5Bp6HZxIO6ExKg0kHFYrG2NQHcGXUTVGbQNNtyDnCe_0yBHiPudiF5oRgFu" width="700">
</p>

<p align="center">Led controlado con Arduino</p>

<h3 id="mover-motores">Mover Motores</h3>

<p align="center">
<img src="https://lh5.googleusercontent.com/3p8VnbxB4lsd2GU_s3bdUzkPIoAbqLoOPzkGxtWr-BvFgvUcawbXSFjwkyOOzzLB4gzSos-pCtxqQ6bHLBDAweX9KH1-Kp7qSSG8JLKMn0OZMGybhIgzrmifePYP1uacdZucWVBS" width="700">
</p>

<p align="center">Motores controlados por por Arduino</p>

<h3 id="mostrar-información-en-displays">Mostrar información en Displays</h3>

<p align="center">
<img src="https://lh4.googleusercontent.com/kHqNEnoVydMilINpUJValo1XLQIoCC4pcHDxvAddfy5_Kg73UyO0W-hOf33ee1zwguLzIZ210CX0t3FspcFzUsQRnzXPTyBngj18lSYLHPHuUnzDDqK5tYSmFvvPu1kq2MybmNZ5" width="700">
</p>

<p align="center">Display LCD controlado con Arduino </p>

<h3 id="controlar-todo-tipo-de-robots">Controlar todo tipo de robots</h3>

<br>

<p align="center">
<img src="https://lh4.googleusercontent.com/6o5g-11ka04oRCijQtMK0RXffC1Q0MJ6hwTq3dQwH4t3blGXk84ERcqkBGbRWuPW0Yjfit48TAcAtjNHrD77RNTpVPpYpkyixqpXYBYZ0LT3LD-OyEd23a_OdsD5g9Dhtefk-Y5A" width="700">
</p>

<p align="center">Robot hexapodo y robot móvil </p>

<h3 id="volar-drones">Volar Drones</h3>

<p align="center">
<img src="https://lh6.googleusercontent.com/itcYVWdykWMloHOHMmslKaUBHW57Nh7yIoIoxSTKWqr2cH8sL9m0HIJ2R5vNuQbQBEntyWhJJExeCxcebLLqVU32x-qv-q1MpGIA_PF2MMif-uKFm96shu6RtoKyVEWaKludOHi1" width="700">
</p>

<p align="center">DRONE controlado con ArduPilot</p>

<h3 id="publicar-un-tweet-en-internet">Publicar un tweet en internet</h3>

<p align="center">
<img src="https://lh4.googleusercontent.com/BTTS2kzqCmdr3Gu5f8q7_iTDtXt2_wuWQchAldL1qUaO-vTYOBjoFPKuTWhV2kH5CnpeL0RMmtKIBd07y7uynW1HO7vmizEcBY6blSRB99Nt4mz1cqgCw--9QHuHisK2kTOSGi67" width="700">
</p>

<p align="center">API de Twitter para Arduino </p>

<h3 id="controlar-una-impresora-3d">Controlar una impresora 3D</h3>

<p align="center">
<img src="https://lh5.googleusercontent.com/--nvzMcHXT9SsYlbuOgL4BXzG2BabxOU0WP4zgYbsqag8UJ9yy2bO06zWP3R90FuzTfDXQaud74rywblAQJz2EeC0kLaK4iJ0hCaC6nMPSSh0yNOaXZOMYFdp67sJzKG_7v1oQud" width="700">
</p>

<p align="center">Impresora 3D de Arduino </p>

<br>

<p>Los usos para esta pequeña tarjeta aumentan por miles cada día. En la página oficial de Arduino podrás encontrar muchos proyectos realizados por la comunidad de Arduino.</p>